<h1>menu</h1>
<h2>file_upload</h2>
<div class="input-group">
 <input type="text" class="form-control" id="selectedFile" readonly>
 <span class="input-group-btn">
 <button id="selectFile" class="btn btn-default" type="button">ファイル選択</button>
 </span>
</div>
<h2>upload_result</h2>
<ul>
  <li>aa</li>
  <li>aa</li>
  <li>aa</li>
  <li>aa</li>
</ul>